body {
    margin: 0;
    padding: 0;
}

.first {
    border: 2px solid green;
    margin: 0px;
    padding: 30px 100px;
}

.second {
    border: 2px solid blue;
    margin: 10px 50px;
    padding: 10px 20px;
}

.container {
    border: 2px solid #000;
    padding: 15px 10px;
    margin: 20px 10px;
    width: 50;
}

.container div {

    padding: 10px;
    width: 30%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}