body{
    margin: 1;
    padding: 1;
}
#autor{
    font-weight: bold;
    color: #9e9c9c;
}
time {
    color: #ccc;
    font-style: italic;
}
blockquote{
    position: static;

    margin-left: auto;
}
p + time{
    color: #ccc;
}